
.container {
  background-color: transparent;
}

/* .holder{
  height:400px;
  background:gray;
  border:1px dashed #000;
  color:#fff;
  text-align:center;
} */
.col-sm-12 {
  /* width: 100%; */
  justify-content: center;
}
.col-sm-8 {
  /* width: 100%; */
  justify-content: center;
}


.viewerCanvas {
  margin: auto;
  height: 500px !important;
}


/* .enterBook {
  height: 400px;
} */
.single-item {
  height: 400px;
}
/*
input {
  width: 50%;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
} */
.addbook{
  width: 30%;
  float: left;
  margin: 10px;
}
.removebook{
  position: absolute;
  width: 30%;
  right: 10px;
  margin: 10px;
  bottom: 0px;
}
#newbook {
  border: 5px solid #FF8552;
  border-radius: 10px;
  color: #39393A;
}

.clickme {
  background-color: #FF8552;
  border-radius: 10px;
  color: #39393A;
}
input {
  width: 100%;
  white-space: normal;
  padding: 8px;
  margin-top: 5px;
  font-family: 'Quicksand', sans-serif;

}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #39393A;
  font-family: 'Solway', serif;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #39393A;
  font-size: 20px;
}


body {
    background-color: #E6E6E6;
}


/* Nav Bar stuff */
#navbar {
  overflow: hidden;
  background-color: #E6E6E6;
}

#navbar a:hover{
  border: 5px solid #E9D758;
  border-radius: 10px;
}
#navbar a.active{
  border: 5px solid #E9D758;
  border-radius: 10px;
}
/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border: 5px solid #E6E6E6;
  color: #39393A;
  font-family: 'Quicksand', sans-serif;
}
